<?xml version="1.0"?>
<payments default="0">
  <payment paytype="1" name="upop" sing_type="MD5" input_charset="utf-8" configSource="UpopPayment.config">
    <description></description>
    <ico></ico>
  </payment>
  <payment paytype="0" name="alipay" sing_type="MD5" input_charset="utf-8">
    <return_url></return_url>
    <notify_url></notify_url>
    <veryfy_url>https://mapi.alipay.com/gateway.do?service=notify_verify</veryfy_url>
    <getway>https://mapi.alipay.com/gateway.do?</getway>
    <ico></ico>
    <partner seller_email="alipay@ubiq-soft.com">partner</partner>
    <secret>cxweyhbxo9k57zojfw6wdy89ikoqn6nl</secret>
    <description>银联在线支付</description>
  </payment>
</payments>
