body{margin:0px;padding:0px;font-size: 75%;font-family:@微软雅黑 Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;background:url(images/deskbg02.gif) #444;color: #cdcdcd;/*text-shadow:0px 0px 5px #000;*/}
h1,h2,h3,h4{ padding:0px; margin:0px;}
a{color:#888; text-decoration:none;}
a:before{margin:0px 2px 0px 0px; padding:0px 2px; }
.loginbox{ width:60%; padding:5px; border:solid 1px #cdcdcd;}
.loginbox li{ height:25px;}
.loginbox li dl{}
.loginbox li dl dt,.loginbox li dl dd{ height:35px; line-height:35px; float:left;}
.loginbox li dl dt{ width:200px; text-align:left;}
.loginbox li dl dd input{ height:33px; line-height:32px;}
.ico{ background-image:url(../images/ui-icons_888888_256x240.png); position:absolute;}
.ico_uid{ background-position:-148px -98px; width:12px; height:12px; top:10px; left:10px; z-index:1;}
.ico_pwd{ background-position:-196px -98px; width:12px; height:12px; top:10px; left:10px; z-index:1;}


.page_loginWraper{ width:350px; border:solid 1px cdcdcd; border-radius:3px; background-color:#f6f6f6; margin:0px auto; margin-top:20%; box-shadow:0px 0px 5px #000; position:relative;}
.page_loginWraper .body{ border:solid 1px cdcdcd; position:absolute;top:0px; left:0px;  z-index:2; box-shadow:0px 0px 5px #000;z-index:2; }
.page_loginWraper .form-alpha-cover{ height:560px; background-color :#000; opacity:0.6; position:absolute; top:0px; left:0px; z-index:1; }
.page_loginWraper .body .title{ text-align:center;}
.page_loginWraper .body .title h1{background: url(images/layer_bg.png);width:130px; margin:0px auto; border-radius:0px 0px 5px 5px; color:#FFF;}
.page_loginWraper .body ul{ height:auto; padding:20px 20px 5px 20px;}
.page_loginWraper .body ul li{ height:35px; float:none; margin:0px 0px 20px 0px;}
.page_loginWraper .body ul li dl{}
.page_loginWraper .body ul li dl dt{ height:35px; line-height:35px; text-indent:15px; text-align:left; width:100px; float:left; display:none;}
.page_loginWraper .body ul li dl dd{ height:35px; line-height:35px;float:left; position:relative;}
.page_loginWraper .body ul li dl dd .per{ position:absolute; left:10px;top:11px; }
.page_loginWraper .body ul li dl dd .val_msg{ position:absolute; top:36px; height:auto; line-height:normal;}
.page_loginWraper .body ul li dl dd input[type="text"],.page_loginWraper ul li dl dd input[type="password"] {height:30px; width:255px; border:solid 1px #444; background:#333; padding:1px;text-indent:23px; font-weight:bold; outline:none;color:#FFF;}
.page_loginWraper .body ul li dl dd input[type="password"]{ font-size:20px; text-indent:23px;}
.page_loginWraper .body .ctrlbox{ height:40px; line-height:40px; background: url(images/layer_bg.png);padding:0px 20px;}
.page_loginWraper .body .ctrlbox .btns{height:40px; line-height:40px; float:right;}
.page_loginWraper .body .ctrlbox input{ height:28px; width:55px; margin-left:8px; float:right; margin-top:5px;}


/*表单样式*/
.formwraper{ position:relative; width:650px; border-radius:3px;margin:20px auto 0px auto;}
.formwraper .context{ width:650px; border:solid 1px cdcdcd; position:absolute;top:0px; left:0px;  z-index:2; box-shadow:0px 0px 5px #000; background-color:#444; }
.formwraper .form-alpha-cover{ width:650px; height:560px; /*background-color :#000;*/background-color :#666; opacity:0.3; position:absolute; top:0px; left:0px; z-index:1; }
.formwraper .context .title{ text-align:center; }
.formwraper .context .title h1{ background:#ABCAFF; width:130px; margin:0px auto; border-radius:0px 0px 5px 5px; color:#FFF;}
.formwraper .context ul{ height:auto; padding:20px 20px 0px 20px;}
.formwraper .context ul li{ height:35px; float:none; margin:0px 0px 15px 0px;}
.formwraper .context ul li dl{}
.formwraper .context ul li dl dt{ height:35px; line-height:35px; text-indent:15px; text-align:left; width:100px; float:left;color:#888; }
.formwraper .context ul li dl dd{ height:35px; line-height:35px;float:left; position:relative;}
.formwraper .context ul li dl dd .val_msg{ position:absolute; top:36px;left:5px; height:auto; line-height:normal; width:270px;}
.formwraper .context ul li dl dd input[type="text"],.formwraper .context ul li dl dd input[type="password"] {height:30px; width:255px; border:solid 1px #666;  /*background:#333;*/background:#f6f6f6;padding:1px;text-indent:10px; font-weight:bold; outline:none; color:#888; border-radius:3px; }
.formwraper .context ul li dl dd input[type="password"]{ font-size:20px; text-indent:10px;}
.formwraper .context ul li dl dd input:hover{box-shadow:0px 0px 1px #333;-box-shadow:0px 0px 1px #333;}
.formwraper .context ul li dl dd .ctrl_spl_box{ color:#888;}
.formwraper .context ul li dl dd select{height:30px; width:200px;border:solid 1px #666; /*background:#333;*/background:#f6f6f6;padding:1px;font-weight:bold; outline:none; color:#888;border-radius:3px;}
.formwraper .context ul li dl dd select:hover{box-shadow:0px 0px 1px #333;-box-shadow:0px 0px 1px #333;}
.formwraper .context .ctrlbox{ height:40px; line-height:40px;padding:0px 20px;}
.formwraper .context .ctrlbox .btns{height:40px; line-height:40px; float:right; /*margin-left:100px;*/}
.formwraper .context .ctrlbox input{ height:30px; width:55px; margin-right:8px; float:right; margin-top:5px;}

