@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/plugins/libraries/jquery-1.11.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plugins/EzDialog/EzAdapter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plugins/EzDialog/jquery.EzDialog.js")" type="text/javascript"></script>
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
</body>
</html>