<?xml version="1.0"?>
<database proid="2">
  <host>
    <!--用户中心数据库-->
    <connection scope="fw"  type="MSSQL">server=SV-130\SQLEXPRESS2008;uid=sa;pwd=sa;database=UBIQ_FW_v3</connection>
    <!--产品数据库-->
    <connection scope="pro" type="MSSQL">server=SV-130\SQLEXPRESS2008;uid=sa;pwd=sa;database=UBIQ_FW_v3_ProDemo</connection>
  </host>
  <!--插件数据库-->
  <plugins>
    <plugin name="WeiXin">
      <connection scope="default"  type="MSSQL">server=SV-130\SQLEXPRESS2008;uid=sa;pwd=sa;database=UBIQ_FW</connection>
      <connection scope="orc"  type="Oracle">Data Source=orc;User Id=KSS2;Password=KSS2;</connection>
    </plugin>
  </plugins>
</database>

