<?xml version="1.0"?>
<database proid="2">
  <host>
    <!--用户中心数据库-->
    <connection scope="fw"  type="MSSQL"></connection>
    <!--产品数据库-->
    <connection scope="pro" type="MSSQL"></connection>
  </host>
  <!--插件数据库-->
  <plugins>
    <plugin name="WeiXin">
      <connection scope="default"  type="MSSQL"></connection>
      <connection scope="orc"  type="Oracle"></connection>
    </plugin>
  </plugins>
</database>

