<?xml version="1.0"?>
   <item>
    <type>MySql</type>
    <connection></connection>
    </item>
  </database>-->
<database proid="3">
  <host>
    <connection scope="fw"  type="MSSQL"></connection>
    <connection scope="pro" type="MSSQL"></connection>
  </host>
  <plugins>
    <plugin name="WeiXin">
      <connection scope="default"  type="MSSQL"></connection>
      <connection scope="orc"  type="Oracle"></connection>
    </plugin>
  </plugins>
</database>

