<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  uistyle:当前UI端使用的风格 如对应 content/[desktop|tradition]/default
  ctrldir:当前UI前端后台对应的控制器
  login:指定系统登录地址
  regist:指定系统注册地址
  文本部分 指定当前使用的布局方式
  -->
  <layoutaction uistyle="default" ctrldir="window" login="/Window/Login" regist="/Window/Regist">Desktop</layoutaction>
  <!--分页页容量-->
  <pagesize>20</pagesize>
  <!--en-US：如 FrmLanguage.en-US.resx 第一个点到第二点之间的内容部分|语中描述 用于前端UI显示-->
  <language current="zh-CN">en-US|English,zh-CN|中文</language>
</configuration>